/* General Settings {{{1 */
/* Colors {{{2 */
body {
	color:#e8e2b7;
	background-color:#545454;
}

section {
	color:#e8e2b7;
}

h1, h2, h3 {
	color:#ec7600;
}

a {
	color:#66ccb3;
}

a:hover {
	color:#a082bd;
	background-color:#545454;
}

a:visited:hover {
	color:#ff8bff;
}

a:visited {
	color:#2aa198;
}

/* Text/Font configuration {{{2 */
a {
	text-decoration:none;
}

h3 {
	text-decoration:underline;
}

h1, h2, h3 {
	text-align:center;
}

h1 {
	font-size:1.6rem;
}

p {
	text-align:justify;
}

/* Borders {{{2 */
h1 {
	border-width:0.2em;
	border-color:#ec7600;
	border-bottom-style:double;
}

h2 {
	border-width:0.2em;
	border-color:#ec7600;
	border-bottom-style:solid;
}

/* Special classes {{{1 */
/* horizontal navigation bar {{{2 */
nav.horiz-nav {
	background: #293134;
	box-shadow: -5rem 0 0 #293134, 5rem 0 0 #293134;
	width:100%;
}

nav.horiz-nav > ul {
	padding:0;
}

nav.horiz-nav > ul > li {
	display:inline;
	padding:0 0.67rem;
}

nav.horiz-nav > ul > li > a {
	padding:0.5rem 1.67rem;
	text-decoration:none;
	background-color: #293134;
	border-width:0.2em;
	border-style:solid;
	border-radius: 1em;
}

nav.horiz-nav > ul > li > a:hover {
	border-top-style:dotted;
	border-bottom-style:dotted;
	border-width:0.2em;
	border-radius:1em;
}

/* blog entry {{{2 */
.blog-with-metadata {
	margin:1rem auto;
	max-width:40rem;
	background-color:#293134;
	border-radius:2.5rem;
}

section.blog {
	padding:1rem;
}

.meta {
	text-align:right;
	float:right;
	color:#bdccd3;
	border-radius:0.15rem;
	border-color:#ec7600;
	border-style:dashed;
	border-width:0.1em;
	padding:0.5em;
}

blockquote {
	color:#bdccd3;
}

/* vim : foldmethod=marker noexpandtab
 */
